<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/12.4/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         beStrictAboutChangesToGlobalState="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
    >

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="test-bundle">
            <directory>./../../tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
